<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="UTF-8" />
    <title>Add New User</title>
    <link rel="stylesheet" href="../static/styles"/>
</head>
<body>

<header>
    <h1>Create Your User Profile</h1>
</header>

<!--<div style="display: flex; flex-direction: row; justify-content: space-around">-->
    <!--<div sec:authorize="isAuthenticated()">-->
        <!--<form th:action="@{/logout}" method="post">-->
            <!--<input type="submit" value="Sign Out"/>-->
        <!--</form>-->
    <!--</div>-->
    <!--<a href="/customers"><h3>Back</h3></a>-->
<!--</div>-->


<div class="addUser">
    <form name="addForm" action="/create_user" method="POST">
        <input type="text" name="userName" placeholder="Your Name"/>
        <input type="text" name="userName" placeholder="username"/>
        <input type="email" name="email" placeholder="email@email.com"/>
        <form action="upload" method="POST" enctype="multipart/form-data">
            <input type="text" name="objectName" placeholder="Name of item or file"/>
            <input type="text" name="objectDescription" placeholder="Description of item or file"/>
            <input type="text" name="fileName" placeholder="File name (if uploading a file)"/>
            <input type="file" name="arUserFile"/>
            <button type="submit">Upload</button>
        </form>
        <button type="submit">Add</button>
    </form>
</div>

</body>
</html>