<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Thank You Email</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="static/styles.css" th:href="@{/css/main.css}" />
</head>
<body>

<div class="container">
    <div class="brandon">
        <img src="https://storage.cloud.google.com/visitor-email/aiton.jpeg?_ga=2.64493932.-271281965.1508186729&_gac=1.217845154.1509397292.EAIaIQobChMIytqTgZ-Z1wIVBVmGCh3FOgsREAAYASAAEgIhQPD_BwE"/>
        <h2 class="devName">Brandon Aiton</h2>
        <h3 class="portfolio"><a>BrandonAiton.com</a></h3>
        <h3 class="devEmail" href="brandonaiton@gmail.com">brandonaiton@gmail.com</h3>
        <h3 class="devGit" href="https://github.com/baiton">github.com/baiton</h3>
    </div>
    <div class="matt">
        <img src="https://storage.cloud.google.com/visitor-email/lepine.jpeg?_ga=2.61649263.-271281965.1508186729&_gac=1.162136456.1509397292.EAIaIQobChMIytqTgZ-Z1wIVBVmGCh3FOgsREAAYASAAEgIhQPD_BwE"/>
        <h2 class="devName">Matt LePine</h2>
        <h3 class="devEmail" href="lepinem2002@gmail.com">lepinem2002@gmail.com</h3>
        <h3 class="devGit" href="https://github.com/lepinm">github.com/lepinem</h3>
    </div>
    <div class="chris">
        <img src="https://storage.cloud.google.com/visitor-email/sardina.jpeg?_ga=2.61649263.-271281965.1508186729&_gac=1.162136456.1509397292.EAIaIQobChMIytqTgZ-Z1wIVBVmGCh3FOgsREAAYASAAEgIhQPD_BwE"/>
        <h2 class="devName">Chris Sardina</h2>
        <h3 class="devEmail" href="cbsardina@gmail.com">cbsardina@gmail.com</h3>
        <h3 class="devGit" href="https://github.com/csardina">github.com/cbsardina</h3>
    </div>
    <div class="chad">
        <img src="https://storage.cloud.google.com/visitor-email/yates.jpeg?_ga=2.61649263.-271281965.1508186729&_gac=1.162136456.1509397292.EAIaIQobChMIytqTgZ-Z1wIVBVmGCh3FOgsREAAYASAAEgIhQPD_BwE"/>
        <h2 class="devName">Chad Yates</h2>
        <h3 class="portfolio"><a href="https://www.chadyates.me">ChadYates.me</a></h3>
        <h3 class="devEmail" href="cayates1989@gmail.com">cayates1989@gmail.com</h3>
        <h3 class="devGit" href="https://github.com/cayates">github.com/cayates</h3>
    </div>
</div>
</body>
</html>
