<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Login</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<h1 style="text-align: center">Login</h1>
<br/>
<div style="display: flex; justify-content: center">
    <form th:action="@{/Login}" method="POST">
        <table style="text-align: center">
            <tr>
                <td style="font-size: 1em">Username:</td>
                <td><input style="font-size: 1em" type="text" name="username"/></td>
            </tr>
            <tr>
                <td style="font-size: 1em">Password:</td>
                <td><input style="font-size: 1em" type="password" name="password"/></td>
            </tr>
            <tr>
                <td colspan="2" align="center">
                    <input style="font-size: 1em" type="submit" value="Login"/>&nbsp;&nbsp;
                    <input style="font-size: 1em" type="reset" value="Reset"/></td>
            </tr>
            <tr>
                <a href="signUp.html"><h3>Create Account</h3></a>
            </tr>
        </table>
    </form>
</div>

</body>
