<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="UTF-8" />
    <title>Add New User</title>
    <link rel="stylesheet" href="static/styles.css"/>

</head>
<body>

<header>
    <h1>Create Your User Profile</h1>
</header>

<!--<div style="display: flex; flex-direction: row; justify-content: space-around">-->
    <!--<div sec:authorize="isAuthenticated()">-->
        <!--<form th:action="@{/logout}" method="post">-->
            <!--<input type="submit" value="Sign Out"/>-->
        <!--</form>-->
    <!--</div>-->
    <!--<a href="/customers"><h3>Back</h3></a>-->
<!--</div>-->


<div class="addUser">
    <form firstLastName="addForm" action="/SignUp" method="POST">
        <input type="text" name="firstLastName" placeholder="Your Name" required/>
        <input type="text" name="userEmail" placeholder="YourEmail@email.com" required/>
        <input type="password" name="userPass" placeholder="Password" required/>
        <input type="password" name="passCompare" placeholder="Re-Enter Your Password" required/>
        <button type="submit">Add</button>
        <tr>
            <h3>Already have an account? <a href="login.html">Login</a></h3>
        </tr>
    </form>
</div>

</body>
<script th:src="@{js/scripts.js}"></script>
</html>