<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="UTF-8" />
    <title>Add New User</title>
    <link rel="stylesheet" th:href="@{static/styles}"/>

</head>
<body>

<header>
    <h1>Create Your User Profile</h1>
</header>

<div class="addUser">
    <form firstLastName="addForm" th:action="@{/SignUp}" method="POST">
        <input type="text" name="firstLastName" placeholder="Your Name" th:required="required"/>
        <input type="text" name="userEmail" placeholder="YourEmail@email.com" th:required="required"/>
        <input type="password" name="userPass" placeholder="Password" th:required="required"/>
        <input type="password" name="passCompare" placeholder="Re-Enter Your Password" th:required="required"/>
        <button type="submit">Add</button>
        <tr>
            <h3>Already have an account? <a th:href="@{/login}">Login</a></h3>
        </tr>
    </form>
</div>

</body>
<script th:src="@{js/scripts.js}"></script>
</html>