<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="UTF-8" />
    <title>User Info</title>
    <link rel="stylesheet" th:href="@{static/styles.css}"/>
</head>
<body>

<header>
    <h1 style="text-align: center">Current Info</h1>
</header>

<div style="display: flex; flex-direction: row; justify-content: space-around">
    <div sec:authorize="isAuthenticated()">
        <form th:action="@{/logout}" method="post">
            <input type="submit" value="Sign Out"/>
        </form>
    </div>
</div>

<br/>

<div class="userProfile">
    <p style="font-size: 1.5em" th:text="'Name: ' + ${uzer.firstLastName}"></p>
    <p style="font-size: 1.5em" th:text="'Email/Username: ' + ${uzer.userEmail}"></p>
    <p style="font-size: 1.5em" th:text="'Password: ' + ${uzer.userPass}"></p>
    <p style="font-size: 1.5em" th:text="'Item Name: ' + ${uzer.itemName}"></p>
    <p style="font-size: 1.5em" th:text="'Item Description: ' + ${uzer.itemDescription}"></p>
    <p style="font-size: 1.5em">FILE LIST TBD</p>
</div>

</body>
<script th:src="@{js/scripts.js}"></script>
</html>