<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="UTF-8" />
    <title>User Info</title>
    <link rel="stylesheet" href="./styles.css"/>
</head>
<body>

<header>
    <h1 style="text-align: center">Current Info</h1>
</header>

<div style="display: flex; flex-direction: row; justify-content: space-around">
    <div sec:authorize="isAuthenticated()">
        <form th:action="@{/logout}" method="post">
            <input type="submit" value="Sign Out"/>
        </form>
    </div>
</div>

<br/>

<div style="display: flex; flex-direction: column" class="userProfile">
    <p style="display: flex; justify-content: center">
        <span style="font-size: 1.5em" th:text="'Name: ' + ${uzer.firstLastName}"></span>
        <span style="font-size: 1.5em" th:text="' | Username: ' + ${uzer.userName} + ', ' + ${uzer.userPass}"></span>
    </p>
    <p style="display: flex; justify-content: center">
        <span style="font-size: 1.5em" th:text="'   Email: ' + ${uzer.userEmail} + ' | '"></span>
        <span style="font-size: 1.5em" th:text="' Items: ' + ${uzer.userItems}"></span>
    </p>
</div>

</body>
</html>